@charset "ISO-8859-1";

body {
	background-color: rgb(240, 240, 235);
}
#pageHeader {
	width: 100%;
}
#instructions {
	width: 50%;
	margin: auto;
	font-size: 16px;
	text-align: center;
}
#outerdiv {
	width: 50%;
	margin: auto;
	padding: 10px;
	border: 3px solid green;
}
#innerdiv1{
	width: auto;
	float: left;
	font-size: 18px;
	margin-left: 20%;
	padding-top: 2px;
}
#innerdiv2{
	width: 15.5%;
	padding-top: 2px;
	margin-left: 63%;
}
#logoutDiv {
	width: auto;
	margin-top: 20px;
	margin-left: 1090px;
}
.title {
	color: green;
	font-size: 32px;
	text-align: center;
	border-bottom: 3px solid green;
}
.logoutBut {
	height:30px;
	width:65px;
}