@charset "ISO-8859-1";

body {
	background-color: rgb(240, 240, 235);
	margin: auto;
	padding-bottom: 50px;
}
table {
	border: 3px solid green;
	width: 600px;
	margin: auto;
	font-size: 18px;
}
tr.row td{
	border-bottom: 3px solid green;
}
#Welcome{
	width: auto;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: green;
}

#pageHeader {
	width: 100%;
}
#instructions {
	width: 600px;
	margin: auto;
	font-size: 16px;
	text-align: center;
}
#logoutDiv {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: 515px;
}
.title {
	color: green;
	font-size: 32px;
	text-align: center;
	border-bottom: 3px solid green;
}
.student {
	color: black;
	padding: 10px;
	width: 270px;
	text-align: center;
	border-right: 2px solid green;
}
.view {
	text-align: center;
	border-left: 2px solid green;
	width: 230px;
}
.viewBut {
	height: 30px;
	width: 117px;
}
.logoutBut {
	height:30px;
	width:65px;
	margin-bottom: 30px;
}