<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  	<servlet>
  	<servlet-name>AdvisorIndexServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.AdvisorIndexServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  	<servlet-name>AdvisorLoginServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.AdvisorLoginServlet</servlet-class>
  	</servlet>

  	<servlet>
    <servlet-name>StudentIndexServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.personalized_commencement.servlet.StudentIndexServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.StudentLoginServlet</servlet-class>
  	</servlet>
  
  <!-- AJAX servlets. -->
 	<servlet>
	<servlet-name>AdvisorIndexAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.AdvisorIndexAjaxServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>AdvisorLoginAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.AdvisorLoginAjaxServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>StudentIndexAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.StudentIndexAjaxServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>StudentLoginAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.StudentLoginAjaxServlet</servlet-class>
	</servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
  	<servlet-name>AdvisorIndexServlet</servlet-name>
  	<url-pattern>/advisor_index</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AdvisorLoginServlet</servlet-name>
  	<url-pattern>/advisor_login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>StudentIndexServlet</servlet-name>
    <url-pattern>/student_index</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<url-pattern>/student_login</url-pattern>
  </servlet-mapping>
  
  <!--  AJAX servlet mappings. -->
  <welcome-file-list>
    <welcome-file>studentindex.html</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>advisorindex.html</welcome-file>
  </welcome-file-list>
</web-app>
