<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  	<servlet>
  	<servlet-name>AdvisorLoginServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.AdvisorLoginServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  	<servlet-name>AdvisorViewServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.AdvisorViewServlet</servlet-class>
  	</servlet>

  	<servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.personalized_commencement.servlet.IndexServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.LoginServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.StudentLoginServlet</servlet-class>
  	</servlet>
  	
  	<servlet>
    <servlet-name>StudentViewServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.personalized_commencement.servlet.StudentViewServlet</servlet-class>
  	</servlet>
  
  <!-- AJAX servlets. -->
 	<servlet>
	<servlet-name>AdvisorLoginAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.AdvisorLoginAjaxServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>AdvisorViewAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.AdvisorViewAjaxServlet</servlet-class>
	</servlet>
  
	<servlet>
	<servlet-name>IndexAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.IndexAjaxServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>LoginAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.LoginAjaxServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>StudentLoginAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.StudentLoginAjaxServlet</servlet-class>
	</servlet>
	
	<servlet>
	<servlet-name>StudentViewAjaxServlet</servlet-name>
	<servlet-class>edu.ycp.cs320.personalized_commencement.servlet.ajax.StudentViewAjaxServlet</servlet-class>
	</servlet>

  <!-- Servlet mappings -->
  <servlet-mapping>
  	<servlet-name>AdvisorLoginServlet</servlet-name>
  	<url-pattern>/advisor_login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>AdvisorViewServlet</servlet-name>
  	<url-pattern>/advisor_view</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>StudentLoginServlet</servlet-name>
  	<url-pattern>/student_login</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>StudentViewServlet</servlet-name>
    <url-pattern>/student_view</url-pattern>
  </servlet-mapping>
  
  <!--  AJAX servlet mappings. -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
